.input {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: white;
  padding: 10px;
  grid-gap: 10px;
  width: 80%;
  box-shadow: rgba(93, 119, 119, 0.5) 0 2px 5px 0;
}
#outlined-basic {
  width: 70vw;
}
.addTodoButton {
  height: 50px;
}
