.TodoItem {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  grid-gap: 10px;
  box-shadow: rgba(93, 119, 119, 0.5) 0 2px 5px 0;
}
.TodoItem > p {
  flex: 1;
  display: flex;
}
.todoItem--done {
  text-decoration: line-through;
  color: rgba(107, 107, 107, 0.637);
}
